<% form_for(provider, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, :cols => 30, :rows => 7 %>
  </p>
  <% if provider.image? %>
    <p id="existing-image">
      <label>Existing image</label>
      <%= image_tag(provider.image.url(:thumb)) %>
    </p>
  <% end %>
  <p>
    <%= f.label :image %>
    <%= f.file_field :image %>  
  </p>
  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.submit(provider.new_record? ? "Create" : "Update") %>
  </p>
<% end %>

<% if false %>
<% javascript_tag do %>
  function refreshImage() {
    $("#image-test img").attr("src", $("#provider_image_url").attr("value"));
  }
  $("#provider_image_url").keyup(refreshImage);
<% end %>
<% end %>
