<style type="text/css">
  #provider-list .provider .provider-image { float:left }
  #provider-list .provider { margin : 5px ; width: 47% ; float:left}
</style>

<% image_size ||= :thumb %>
<% div_for(provider) do %>
  <div class="provider-image">
    <% link_to(provider_path(provider), :title => provider.description) do %>
      <%= image_tag(provider.image.url(image_size), :alt => provider.name) %>
    <% end if provider.image? %>
  </div>
  
  <div class="provider-content">
    <h3><%= link_to(h(provider.name), provider_path(provider)) %></h3>
    <p><%=h provider.description %></p>
    <p><%=h provider.location %></p>
  </div>
  
  <div class="provider-actions">
    <%= link_to("testimonials", provider_testimonials_path(provider)) %>
    <% if admin? %>
      | <%= link_to("edit", edit_provider_path(provider)) %>
    <% end %>
  </div>
<% end %>
