<style type="text/css">
  #partner-list .partner .partner-image { float:left }
  #partner-list .partner { margin : 5px ; width: 47% ; float:left}
</style>
<div class="partner" id="partner-<%=partner.id%>">
  <div class="partner-image">
    <%= image_tag(partner.image_url, :height => 150, :alt => partner.name) if partner.image_url %>
  </div>
  
  <div class="partner-content">
    <h3><%= link_to(h(partner.name), partner_path(partner)) %></h3>
    <p><%=h partner.description %></p>
    <p><%=h partner.location %></p>
  </div>
  
  <div class="partner-actions">
    <%= link_to("edit", edit_partner_path(partner)) %>
  </div>
</div>
