<% form_for [@provider, @portfolio],
     :html => { :multipart => true}  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.label :example %>
    <%= f.file_field :example %>
  </p>
  <p>
    <%= f.submit(@portfolio.new_record? ? "Create" : "Update") %>
  </p>
<% end %>
