<p>
  <b>Full name:</b>
  <%=h @user.full_name %>
</p>

<p>
  <b>Email address:</b>
  <%=h @user.email_address %>
</p>

<p>
  <b>Openid:</b>
  <%=h @user.openid %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>Salt:</b>
  <%=h @user.salt %>
</p>

<p>
  <b>Provider:</b>
  <%=h @user.provider_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
