<% form_for :proposal, proposal,
     :url => proposals_path,
     :html => { :multipart => true}  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :document %>
    <%= f.file_field :document %>
  </p>
  <p>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.label :payment_terms %>
    <ul class="radio-button-list">
      <% Contract::Proposal::PAYMENT_TERMS.each do |payment_term| %>
        <li class="radio-button payment-term">
          <%= f.radio_button(:payment_terms, payment_term) %>
          <%= f.label("payment_terms_#{payment_term.underscore}", payment_term.humanize) %>
        </li>
      <% end %>
    </ul>
  </p>
  <p>
    <%= f.submit(proposal.new_record? ? "Create" : "Update") %>
  </p>
<% end %>
