<% form_for([testimonial.provider, testimonial]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit(testimonial.new_record? ? "Create" : "Update") %>
  </p>
<% end %>