<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Providers: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "wordpress-style" %>
  <%= stylesheet_link_tag "lightbox" %>
  <%= stylesheet_link_tag "base" %>

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <% javascript_tag do %>
    google.load("jquery", "1.2.6");
  <% end %>
  <%= javascript_include_tag("jquery.lightbox.js") %>
</head>
<body>
  <div id="wrap">
    <div id="content">
      <h1>Afriworks Marketplace</h1>
      <div id="user-bar">
        <%= render "/users/user_bar" %>
      </div>
      <p style="color: green"><%= flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] %></p>

      <%= yield  %>
      
    </div>
  </div>
  <% javascript_tag do %>
    $(".lightbox").lightbox();
  <% end %>
</body>
</html>
